/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  background: #f7f9fc;
  color: #191c1e;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  background: rgba(247, 249, 252, 0.8);
  backdrop-filter: blur(10px);
}

.nav-left {
  display: flex;
  gap: 12px;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #555;
}

.nav-links .active {
  color: black;
  font-weight: bold;
}

/* HERO */
.hero {
  margin-top: 80px;
  padding: 60px;
  background: #28455a;
  color: white;
  border-radius: 20px;
}

.hero h1 {
  font-size: 48px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

/* FORM */
.contact {
  padding: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
}

.form input,
.form textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

button {
  background: #28455a;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  background: #eee;
}